<?xml version="1.0"?>
<configuration>
  <system.web>
    <authorization>
      <deny users="?"/>
    </authorization>
  </system.web>
  <appSettings>
    <add key="endpoint" value="https://cosmosdbkapeltol190524.documents.azure.com:443/" />
    <add key="authKey" value="1AjJ8MxxVCjJuwmOY1inho6rIjv5Rtk8zWxrVGq9fEDEaEiUXzTKtmf8E3FVHyZb9Y6Quw7QE7M6D0wYb9BOIg==" />
    <add key="database" value="changefeedlabdatabase" />
    <add key="collection" value="changefeeddemocollection" />
  </appSettings>
</configuration>
