<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="endpoint" value="https://cosmosdbkapeltol1036.documents.azure.com:443/" />
    <add key="authKey" value="du0oYWxxHsosVXmO4njbag0SSadZxwaPpHPfK6Pjw9pTNKYCkKH5KhSGIeD2l4kGJwCNTBrMEsdLJmeI8Feg5Q==" />
    <add key="database" value="changefeedlabdatabase" />
    <add key="collection" value="changefeedlabcollection" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>